#block {
    width: 200px;
    height: 200px;
    background-color: blue;
    margin-left: 150px;
    margin-top: 35px;
}
.divId {
    display: grid;
   grid-template-columns: 1fr 1fr;
}
/* #PTopLeft {
    grid-area: P;
}
#TopLeft {
    grid-area: i;
}
#textTopLeft {
    grid-area: t;
} */