
.about__title {
    color: white;
font-size: 37px;
line-height: 28px;
text-transform: uppercase;
text-align: center;
margin-top: -30px;
}
.about__text {
    color: #afafaf;
font-size: 19px;
line-height: 24px;
text-align: center;
margin-top: 35px;
padding: 0 15px;
margin-bottom: 76px;
}
.about__what {
display: flex;
justify-content: space-around;
padding-left: 5px;

}
.what__we {
    width: 600px;
}
.title {
    color: #fe504f;
    font-size: 23px;
    line-height: 74px;
    text-transform: uppercase;
    font-weight: 700;
}
.line {
    margin-top: -16px;
}
.what__text {
    color: #afafaf;
font-size: 14px;
line-height: 24px;
}
.our__clients {
    width: 600px;
}
.our__team {
    margin: 70px 0;
}
.our {
margin-left: 6.3%;
margin-bottom: 30px;
}
.img__1 {
    display: flex;
    justify-content: space-around;
}
.team__img {
    margin: 0 66px;
}
.img__fon {
    background: url(../img/2.png);
    width: 200px;
    height: 200px;
    padding: 20px;
}
.title__img {
    color: #ffffff;
font-size: 32px;
line-height: 40px;
font-weight: 700;
}
.text__img {
    color: #ffffff;
font-size: 12px;
line-height: 24px;
margin-top: 38px;
font-weight: 700;
}
.autor__img {
    color: #ffffff;
font-size: 12px;
line-height: 24px;
}

.avtor__about {
    background: url(../img/fon__autor.png) 0 0 / 100% 400px no-repeat;
    height: 420px;
    /* margin-bottom: 20px; */
    display: flex;
    justify-content: center;
}
.menu__play {
    margin-top: 112px;
    margin-left: 45%;
    margin-right: 50px;
    height: 100px;
    margin-bottom: 37px;
}
.avtor__title {
    text-align: center;
    color: #ffffff;
font-family: Verdana;
font-size: 34px;
font-weight: 700;
line-height: 58px;
text-transform: uppercase;
margin-bottom: 28px;
}
.avtor__text {
    text-align: center;
    color: #ffffff;
font-family: Verdana;
font-size: 16px;
font-weight: 400;
line-height: 24px;
}