*, *:before, *:after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
}
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}
/* Basis style */
.page {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.parallax {
    position: relative;
    height: 100%;
}
/* might a picture far */
.parallax_mon {
position: fixed;
width: 100%;
height: 100%;
top: 0;
left: 0;
}
.parallax_mon_1 {
background: url('img/m_1.png') 0 0 / cover no-repeat;
}
.parallax_mon_2 {
    /* z-index: что бы накрыло текст; */
    z-index: 1;
    background: url('img/m_2.png') bottom right / 45% no-repeat;
}
.parallax_mon_3 {
    z-index: 1;
    background: url('img/m_3.png') left bottom / 100% no-repeat;
}
.parallax_fog {
    background: url(img/fog_1.png) bottom / 100% no-repeat;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    /* Чем больше число, тем ближе к экрану */
    z-index: 2;
}
.content {
position: relative;

}
.content_body {
max-width: 1170px;
margin: 0 auto;
}
.content_header {
text-align: center;
text-transform: uppercase;
margin-bottom: 20px;
padding: 0 20px;
}
.content_titel {
font-size: 80px;
}
.content_subtitel {
font-size: 60px;
text-align: center;
}
.content_text {
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
    line-height: 24px;
}