
.img_taro {
  width: 100%;
  height: 300px;
}
.menu {
/* margin-top: -400px; */
margin-top: -21px;
}
.mained {
/* margin-top: 400px; */
height: 300px;
padding: 0px;
display: none;
width: 100%;
}
/* Слайдер */

.slick-list {
overflow: hidden;
/* Что бы не вылазила не активная фотка на активную */
}
.slider {
  min-width: 0;
  position: relative;
  margin: 0px 0px;
  /* отодвнинуть слева и справа кнопки */
  /* width: 45%; */
  /* Изменение размеров слайдера */
}
.slider_item {
  min-width: 0;
}
slick-list {
  overflow: hidden;
  /* Что бы не вылазила не активная фотка на активную */
}
/* Лента слайдов */
.slick-track{
  display: flex;
  /* align-items: flex-start; */
  /* Включение adaptiveHeight: true 
  вроде прижмет к верху*/
}
.slider .slick-arrow {
  position: absolute; 
  top: 50%;
  z-index: 10;
  margin: -30px 0 0 0;
  /* подняди кнопки почти ровно в центр по высоте фоток */
  font-size: 0;
  /* убрать надписи на фотках */
  width: 30px;
  height: 31px;
  /* Размер стрелочек */
 }
 .slider .slick-arrow.slick-prev{
  left: 0;
  /* прижали к углу */
  /* background: url('img/icons8_chevron_left_80px_2.png') 0 0 / 100% no-repeat; */
  /* Размер 100% */
  border: none;
  /* убирает рамки */
}
/* Стрелка вправо hover*/
.slider .slick-arrow.slick-next{
right: 0;
margin-right: 20px;
 /* прижали к углу */
 /* background: url('img/icons8_chevron_right_80px_1.png') 0 0 / 100% no-repeat; */
 /* Размер 100% */
 border: none;
 /* убирает рамки */
}
/* Точки (булиты) */
.slider .slick-dots{
display: flex;
align-items: center;
justify-content: center;
}
.slider .slick-dots li{
/* list-style: none; */
/* Убрать точки */
margin: 0 10px;
/* Отступы от кнопок */
}
/* Элемент точки */
.slick-dots li button{
font-size: 0;
/* Убрать текст */
width: 10px;
height: 10px;
background-color: rgb(255, 255, 255);
/* Размер кнопок */
border-radius: 50%;
/* Округляем */
border: none;
/* Рамки */
}
/* Класс который присваивается активной круглой кнопке переключения */
.slider .slick-dots li.slick-active button{
background-color: transparent;
border: 1px solid rgb(255, 255, 255);
/* Размер границы + хз + цвет */
}

.bad {
margin-left: 45%;
}
@media screen and (max-width: 800px) {
.mained {
   /* margin-top: 0px; */
   display: flex;
}
.bad {
  display: none;
}
}
